In [4]:
class Food:
    def __init__ (self, 
                  name, 
                  has_flour=False, 
                  has_tomato=False, 
                  served_hot=False):
        self.name = name
        self.has_flour = has_flour
        self.has_tomato = has_tomato
        self.served_hot = served_hot
    

tagliatelle = Food('tagliatelle', has_flour=True, has_tomato=True, served_hot=True)
torta_al_testo = Food('torta al testo', has_flour=True, has_tomato=False, served_hot=True)
bistecca = Food('bistecca', has_flour=False, has_tomato=False, served_hot=True)
baci_perugina = Food('baci perugina', has_flour=False, has_tomato=False, served_hot=False)

In [5]:
class City:
    def __init__ (self, name, region, foods=tuple()):
        self.name = name
        self.region = region
        self.foods = foods
        


cities = [
    City('Perugia', 'Umbria', foods=[tagliatelle, torta_al_testo]),
    City('Bologna', 'Emilia-Romagna', foods=[tagliatelle]),
    City('Florence', 'Toscana', foods=[bistecca])
]

In [7]:
tomato_regions = []
for city in cities:
    for food in city.foods:
        if food.has_tomato:
            tomato_regions.append(city.region)
            break
print (tomato_regions)

['Umbria', 'Emilia-Romagna']

In [11]:
import pandas as pd

city_df = pd.DataFrame([
    {'city_name': 'Perugia', 'region': 'Umbria'},
    {'city_name': 'Bologna', 'region': 'Emilia-Romagna'},
    {'city_name': 'Florence', 'region': 'Toscana'}
])

city_df

  city_name          region
0   Perugia          Umbria
1   Bologna  Emilia-Romagna
2  Florence         Toscana

In [12]:
food_df = pd.DataFrame([
    ('tagliatelle', True, True, True),
    ('torta al testo', True, True, True),
       ('baci perugina', False, False, False),
       ('bistecca', False, False, False),
],
    columns = ['food_name', 'has_flour', 'has_tomato', 'served_hot']
)

food_df

        food_name  has_flour  has_tomato  served_hot
0     tagliatelle       True        True        True
1  torta al testo       True        True        True
2   baci perugina      False       False       False
3        bistecca      False       False       False

In [14]:
relations = pd.DataFrame([
    ('tagliatelle', 'Perugia'),
    ('tagliatelle', 'Bologna'),
    ('baci perugina', 'Perugia'),
    ('bistecca', 'Florence')
], columns=['food_name', 'city_name'])

relations

       food_name city_name
0    tagliatelle   Perugia
1    tagliatelle   Bologna
2  baci perugina   Perugia
3       bistecca  Florence

In [18]:
(city_df
 .merge(relations, on='city_name')
 .merge(food_df, on='food_name')
 .query('has_tomato')
 ['region']
)

0            Umbria
1    Emilia-Romagna
Name: region, dtype: object